body {
    background-color: white;
    margin: 0;
}

.site-header {
    background-color: #0F2552;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
}

nav {
    display: flex;
    align-items: center;

}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links a {
    color: white;
    text-decoration: none;
}

#botoes {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.buttonp {
    width: 43px;
    height: 40px;
    padding: 8px;
    background-color: #ff9604;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.buttonm {
    width: 63px;
    height: 65px;
    padding: 8px;
    background-color: #ff9604;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.buttong {
    width: 116px;
    height: 40px;
    padding: 10px 20px;
    background-color: #ff9604;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: #be4900;
}

.sidebar {
    background-color: #0F2552;
    color: white;
    width: 110px; 
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0; 
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    margin-bottom: 10px;
}

.sidebar-links a {
    color: white;
    text-decoration: none;
}

.sidebar-links a:hover {
    text-decoration: underline;
}
